.max-w-md {
    max-width: 90%;
}

.min-h-screen {
    min-height: 80vh;
}

.body {
    background-color: #359D39;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
}

/* Navbar */
#navbar {
    /* background-color: #0E7632; */
    font-family: 'Noto Serif', serif;
}

#navbar li {
    border-radius: 5px;
}

#navbar li:hover {
    background-color: white;
}

/* Jumbotron */
#title {
    font-family: 'Noto Serif', serif;
}

.jumbotron u {
    color: #FC2947;
}

/* Market */
.container hr {
    color: #FC2947;
}

/* Card Produk dan Kategori  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card a {
    text-decoration: none;
    color: black;
}

.card span {
    color: #b6b6b6;
}

.card-price {
    color: #FC2947;
    font-size: 22px;
}

.card:hover {
    opacity: 0.7;
    transform: scale(1.01, 1.01);
}

/* Product Detail */
.price_add {
    color: #FC2947;
    font-size: 40px;
}

#input {
    width: 40px;
    height: 35px;
}

#qty span {
    background-color: #FC2947;
    color: white;
    height: 38px;
}

#qty span:hover {
    background: rgb(255, 0, 0);
}

.add-btn {
    text-decoration: none;
    background-color: #FC2947;
    color: white;
    border-radius: 2px;
}

.add-btn:hover {
    background: rgb(255, 0, 0);
}

.center {
    width: 150px;
    margin: 40px auto;
}

/* Cart */
.cart-btn {
    text-decoration: none;
    background-color: #FC2947;
    color: white;
    border-radius: 2px;
}

.cart-btn:hover {
    background: rgb(255, 0, 0);
}

.price_cart {
    color: #FC2947;
    font-size: 30px;
}

/* Cart Button */
.act-btn {
    background: #FC2947;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.act-btn:hover {
    background: rgb(255, 0, 0);
    transform: scale(1.2, 1.2);
}

/* Footer */
.footer {
    background-color: #FC2947;
    color: white;
}